[Desktop Entry]
Encoding=UTF-8
Name=wmfmixer
Comment=Simple mixer application
Comment[pl]=Prosty program do obsługi dźwięku
Icon=default.xpm
Exec=/usr/bin/wmfmixer
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
