[Desktop Entry]
Name=wmfmixer
Comment=Simple mixer application
Comment[pl]=Prosty program do obs³ugi d¼wiêku
Icon=default.xpm
Exec=/usr/bin/wmfmixer
Terminal=0
Type=Application

